/* Global Configures */

html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  font-family: "Times New Roman", Times, serif;
  background-color: #fad8bc;
  color: #f1faee;
}

h1 {
  /* cursor: default; */
  text-align: center;
  font-size: 72px;
  text-decoration: underline;
  margin: 0;
  color: #f4a261;
}

a {
  color: #f4a261;
  text-transform: uppercase;
  list-style: none;
  font-size: 14px;
}

img {
  display: block;
  margin: 0 auto;
}

.title {
  font-size: 52px;
  margin: 0;
}
/* Main Page */

.container {
  max-width: 860px;
  margin: 80px auto 0;
  padding: 40px 100px 20px;
  background-color: #f0f8f9;
  border: 2px solid #1d3557;
  border-radius: 8px;
}

.index-title {
  text-align: center;
  margin-bottom: 20px;
}

.index-img {
  max-width: 100%;
  margin-bottom: 20px;
  border: 2px solid #1d3557;
  border-radius: 8px;
}

.index-ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.index-li {
  margin-bottom: 12px;
}

.index-li:last-child {
  margin-bottom: 0;
}

.index-ul a {
  font-size: 20px;
}

/* Ramen Page */

.ramen-title {
  background-color: #ae2012;
  color: #e5e5e5;
}

/* Fried-Rice Page */

.fried-rice-title {
  background-color: #2a9d8f;
  color: #e9c46a;
}

/* Tortillas Page */

.tortillas-title {
  background-color: #e8dab2;
  color: #eb5e28;
}
